{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5"><h1>{{ question.title }}</h1></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col align-self-end text-end">
                upVote: {{ question.voteUp }}
                downVote: {{ question.voteDown }}
                lastUpdated {{ question.updatedAt|format_datetime('medium', 'short') }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card my-5">
                    <div class="card-body">
                        <div class="card-text">
                            {{ question.content|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Feedback
                    </div>
                    <div class="card-body">
                        {% for comment in question.comments %}
                            <div class="card my-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{ comment.title }}</h5>
                                    <div class="card-text">
                                        {{ comment.content|raw }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if comment_form %}
        <div class="row">
            <div class="col-6">
                <div class="card my-5">
                    {{ form_start(comment_form) }}
                        <div class="card-header">
                            Add a comment
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                {{ form_errors(comment_form) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(comment_form.title) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(comment_form.content) }}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    {{ form_end(comment_form) }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block title %}
    Question
{% endblock %}

